@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color:hsla(218, 22%, 67%, 1);
    background-color: #efeff6;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 650px;
    margin: 5em auto;
}


.row {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

/* Font Styles */

.karla-400 {
    font-weight: 400;
}

.karla-700 {
    font-weight: 700;
}

.fs-14 {
    font-size: 14px;
    line-height: 26px;
}

.fs-15 {
    font-size: 15px;
    line-height: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-32 {
    font-size: 32px;
}

.lh-20 {
    line-height: 20px;
}

.lh-26 {
    line-height: 26px;
}

/* Font Styles End */

/* Primary Colors */
.cyan {
    color:hsla(179, 62%, 43%, 1);
}

.light-cyan {
    color: hsla(179, 59%, 45%, 1);
}

.bright-yellow {
    color:hsla(71, 73%, 54%, 1);
}

/* Neutral Colors */

.whitish {
    color: hsla(0, 0%, 100%, 1);
}

.light-gray {
    color: hsl(204, 43%, 93%);
}

.grayish-blue {
    color: hsla(218, 22%, 67%, 1);
}

/* Neutral Colors End */

/* Single Price CSS Grid Styles */
.singleprice__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "community" 
      "subscription"
      "why-us";
  }

  #community {
      grid-area: community;
  }

  #subscription {
      grid-area: subscription;
  }

  #why-us {
      grid-area: why-us;
  }

/* Community Styles */

.community__container {
    background-color:hsla(0, 0%, 100%, 1);
    padding: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Monthly Subscription Styles */

.monthly__container {
    background-color:hsla(179, 62%, 43%, 1);
    padding: 2em;
    border-bottom-left-radius: 0px;
}

/* Button Styles */

.btn {
    background-color: hsla(71, 73%, 54%, 1);
    color:hsla(0, 0%, 100%, 1);
    padding: 12px 27px;
    border-radius: 5px;
    border: none;
    border: solid 2px transparent;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
    border: solid 2px #ffffff;
    color: #ffffff;
    border: solid 2px #ffffff;
    padding: 12px 57px;
    display: block;
    width: 100%;
  }

/* Button Styles End */

/* Monthly Subscription Styles End */

/* Why Us Styles */

.whyus__container {
    background-color: hsla(179, 59%, 45%, 1);
    padding: 2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Why Us Styles */

/* Frontend Mentor Styles */
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Media Queries */
@media screen and (min-width: 700px) {
    .singleprice__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "community community" 
          "subscription why-us";
      }

    .monthly__container {
        border-bottom-left-radius: 10px;
    }

    .whyus__container {
        border-bottom-left-radius: 0px;
    }
}
  